.socialMedia {
    background-color: #626C3E;
    color: #FDFAE3;
    font-family: 'RichardSamuels';
    width: 100vw;
    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media (max-width: 768px) {
    .socialMedia {
        height: 80vh;
    }
}

@media (max-width: 480px) {
    .socialMedia {
        height: 60vh;
    }
}

.socialMedia-title {

    font-size: 3rem;
}

.socialMedia-subtitle {
    font-size: 1.2rem;
}

.socialMedia-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}