.HowToHelp {
     width: 100vw;
     height: 110vh;
     background-color: #2B361C;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HowToHelp-title { 
    font-size: 3em;
    font-family: "RichardSamuels"; 
}

#how-Children {  
    height: auto;
    width: 400px;
    max-width: 100%; 
}

#smallFacebook { 
    margin-top: 2%;
    width: 75px; 
    max-width: 50%; 
    height: auto; 
}