.HowToHelp {
     width: 100vw;
     height: 90vh;
     background-color: #2B361C;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HowToHelp-title { 
    font-size: 4em;
    font-family: "RichardSamuels"; 
}