#root {
  /* max-width: 1280px; */
  /* padding: 2rem; */
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}



.root_title {
  margin-left: 0 auto;
  margin-bottom: 0 auto;


  background-color: rgb(122, 31, 31);
  color: white;


  border-radius: 10px;
  width: 120%;
  height: 100%;
}